<div class="center">
    <div class="card" style="max-width: 20rem;" *ngIf="!loading" >
        <img src="{{product?.image}}" class="card-img-top" alt="{{product?.title}}">
        <div class="card-body">
          <h5 class="card-title">{{product?.title | uppercase}}</h5>
          <h6>{{product?.price | currency}}</h6>
          <p class="card-text">{{product?.description}}</p>
        </div>
      </div>
</div>



<!-- <ng-container *ngIf="!loading">
    <h1>Producto: {{product?.title}}</h1>
    <h2 [ngStyle]="{'color': color}">Price: {{product?.price | currency}}</h2>
    <h2>Description: {{product?.description}}</h2>
</ng-container>

-->

<ng-container *ngIf="loading"><i style="color: blue">Loading...</i></ng-container>